<section id="contact" class="contact-section">
  <div class="container">
    <h2 class="section-title">Contact Me</h2>

    <div class="contact-grid">
      <!-- Contact Form -->
      <form [formGroup]="contactForm" (ngSubmit)="onSubmit()" class="contact-form">
        <input formControlName="name" type="text" placeholder="Your Name" />
        <div *ngIf="contactForm.get('name')?.invalid && contactForm.get('name')?.touched" class="error">Name is required.</div>

        <input formControlName="email" type="email" placeholder="Your Email" />
        <div *ngIf="contactForm.get('email')?.invalid && contactForm.get('email')?.touched" class="error">Valid email required.</div>

        <textarea formControlName="message" rows="5" placeholder="Your Message"></textarea>
        <div *ngIf="contactForm.get('message')?.invalid && contactForm.get('message')?.touched" class="error">Message is required.</div>

        <button type="submit" [disabled]="contactForm.invalid">Send</button>
      </form>

      <!-- Contact Info -->
      <div class="contact-info">
        <p><i class="fas fa-envelope"></i>snekhapalanisamy&#64;gmail.com</p>
        <p><i class="fas fa-map-marker-alt"></i> England, United Kingdom</p>

        <div class="social-links">
          <a href="http://github.com/snekhapalanisamy" target="_blank"><i class="fab fa-github"></i></a>
          <a href="https://www.linkedin.com/in/snekha-palanisamy-09077a1b4" target="_blank"><i class="fab fa-linkedin"></i></a>
        </div>
      </div>
    </div>
  </div>
</section>
