<section id="about" class="about-section">
  <div class="about-box">
    <h2>About Me</h2>
    <p>
      I’m a Full Stack Developer with over 2 years of experience designing, developing, and deploying secure web applications using Angular, .NET Core, and Azure. I specialize in building scalable solutions with clean architecture and cloud-native practices.
    </p>
    <p>
    I’ve contributed to enterprise banking applications, led system migrations, built APIs, automated CI/CD pipelines, and integrated Azure services such as Functions, App Service, Blob Storage, and Azure AD authentication.
    </p>
    <p>
    Now based in the UK and actively seeking new opportunities, I’m passionate about delivering clean, efficient software while continuously staying current with modern .NET and cloud technologies.
    </p>
  </div>
</section>
