<section [@fadeIn] id="home">
  <div class="home-container home-background" >
    <div class="intro-text">
      <h1>Hello, I’m Snekha Palanisamy</h1>
      <h2 class="animated-titles">
        <span class="title active">.NET Developer</span>
        <span class="title">Azure Enthusiast</span>
        <span class="title">Full Stack Developer</span>
      </h2>
      <p>Welcome to my portfolio! I build scalable web apps and cloud solutions.</p>
      <div class="buttons">
        <a href="#projects" class="btn btn-primary">Explore Projects</a>
        <a href="#contact" class="btn btn-primary">Contact Me</a>
      </div>
    </div>
    <div class="profile-pic">
     <img src="assets/photo.jpg" alt="Your Name" />
    </div>
  </div>
</section>
